[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
uuid = "*"
python-multipart = "*"
asyncpg = "*"
passlib = {extras = ["bcrypt"], version = "==1.7.4"}
bcrypt = "==4.0.1"
alembic = "*"
psycopg = {extras = ["binary"], version = "*"}
dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
numpy = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
